site_name: Artificial Intelligence (AI) with Python
site_url: https://mydomain.org/mysite
site_author: Joshua OhYQ
copyright: "Copyright &copy; 2025 Joshua OhYQ"

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    # - content.footnote.tooltips
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  
  icon:
    admonition:
      note: material/note-outline
      abstract: material/format-list-checks
      info: material/information
      tip: material/lightbulb-on
      success: material/check-bold
      question: material/help-circle
      warning: material/alert
      failure: material/close-thick
      danger: material/flash
      bug: material/bug
      example: material/test-tube
      quote: material/format-quote-close
    annotation: material/plus-circle
    
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://joshuaohyq.github.io/AI-Python/
      name: Joshua Oh's GitHub
      
extra_css:
  - stylesheets/extra.css
  - stylesheets/custom.css
  
extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js  
  
markdown_extensions:
  - admonition
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.blocks.caption
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.snippets
  - def_list
  - footnotes
  - abbr
  - attr_list
  - md_in_html
  - toc:
      permalink: true
      title: Table of Content

  
nav:
  - Home: index.md
  - Basic Algorithms:
    - "First Order Logic and Expert Systems": Chapter1.md
    - "Fuzzy Logic and Fuzzy Inference Systems": Chapter2.md
    - "Genetic Algorithm": Chapter3.md
  - Python 3:
    - "Introduction": Python 3.md
    - "Python Basic": BasicPython.md
    - "Control Flow": Control_Flow.md
    


    
